MS_KITCHEN_DB_HOST=db_host
MS_KITCHEN_DB_PORT=port
MS_KITCHEN_DB_USER=user
MS_KITCHEN_DB_PASSWORD=password
MS_KITCHEN_DB_NAME=db_name

RABBITMQ_HOST=host_rabbitmq
RABBITMQ_USERNAME=user_rabbitmq
RABBITMQ_PASSWORD=password_rabbitmq
RABBITMQ_VIRTUAL_HOST=/

JWT_ISSUER=issuer_jwt
JWT_AUDIENCE=audience_jwt
JWT_SECRET=secret_jwt

TZ=America/La_Paz
