MS_KITCHEN_APP_PORT=5031
MS_KITCHEN_APP_NAME=ms-kitchen
MS_KITCHEN_APP_HOST=159.89.227.37

MS_KITCHEN_DB_HOST=ms_kitchen_db
MS_KITCHEN_DB_PORT=5432
MS_KITCHEN_DB_USER=postgres
MS_KITCHEN_DB_PASSWORD=root
MS_KITCHEN_DB_NAME=DB_KITCHEN

RABBITMQ_HOST=165.22.148.216
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VIRTUAL_HOST=/

JWT_ISSUER=api_security
JWT_AUDIENCE=*
JWT_SECRET=DiplomadoMicroservicios2025SecretoJTWApiSecurity

TZ=America/La_Paz

CONSUL_HOST=165.22.148.216
CONSUL_PORT=8500
CONSUL_INTERVAL=10s
CONSUL_TIMEOUT=5s
CONSUL_DEREGISTER_AFTER=1m

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://
